.choose {
  padding: 211px 0 80px;
  background: #FAFAFA;
}
.choose__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  text-align: center;
  margin-bottom: 10px;
}
.choose__subtitle {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 50px;
}
.choose__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  row-gap: 10px;
}
.choose__card img {
  width: 100%;
}
.choose__row {
  margin: 0 -20px;
}