@import "../libs/bootstrap/bootstrap-grid.min.css";
@import "../libs/fancybox/fancybox.css";
@import "../fonts/Montserrat/stylesheet.css";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.burger {
  display: none;
}

.header {
  width: 100%;
  position: absolute;
  z-index: 2;
}
.header__navbar {
  width: 100%;
  height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 21px;
     -moz-column-gap: 21px;
          column-gap: 21px;
  list-style-type: none;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 117px;
     -moz-column-gap: 117px;
          column-gap: 117px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__list {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__list-link {
  color: #fff;
  text-decoration: none;
}
.header__list-link:hover {
  border-bottom: 1px solid #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.first-screen {
  padding-top: 190px;
  background: url("../images/bg.jpg") center/cover no-repeat;
  position: relative;
}
.first-screen::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00A0C150;
  z-index: 1;
}
.first-screen__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.first-screen__subtitle {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #fff;
  margin-bottom: 35px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.first-screen__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-bottom: 40px;
}
.first-screen__btn {
  border-radius: 37px;
  height: 48px;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
}
.first-screen__btn_first {
  width: 185px;
  background: #FFA62B;
  color: white;
  border: none;
}
.first-screen__btn_second {
  width: 154px;
  color: #00A0C1;
  border: 1px solid #00A0C1;
  background-color: transparent;
}
.first-screen_p {
  padding: 0 15px;
}
.first-screen__card {
  position: relative;
  z-index: 1;
  background-color: white;
  -webkit-box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
}
.first-screen__card img {
  width: 100%;
  height: 250px;
}
.first-screen__card-subtitle {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.first-screen__card-subtitle_white {
  color: white;
}
.first-screen__row {
  position: relative;
  top: 19px;
  margin: 0 -15px;
}

.choose {
  padding: 211px 0 80px;
  background: #FAFAFA;
}
.choose__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  text-align: center;
  margin-bottom: 10px;
}
.choose__subtitle {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 50px;
}
.choose__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  row-gap: 10px;
}
.choose__card img {
  width: 100%;
}
.choose__row {
  margin: 0 -20px;
}

.practice {
  padding: 125px 0 101px;
  background: #FAFAFA;
}
.practice__title {
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  text-align: center;
  margin-bottom: 12px;
}
.practice__subtitle {
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 45px;
}
.practice__card {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.practice__card-img {
  width: 100%;
}
.practice__card-info {
  padding: 15px 5px;
}
.practice__card-title {
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 15px;
}
.practice__card-subtitle {
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.practice__p {
  padding: 0 20px;
}
.practice__row {
  margin: 0 -20px;
}

.service {
  padding: 100px 0;
}
.service__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 15px;
}
.service__subtitle {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 100px;
}
.service__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.service__video {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/bgvideo.jpg") center/cover no-repeat;
  padding: 200px 0;
}
.service__video-btn {
  background: #00A0C1;
  border-radius: 73.6px;
  width: 98px;
  height: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}
.service__row {
  margin-top: 50px;
}
.service__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.service__card img {
  width: 100%;
}
.service__card-info {
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 20px;
}
.subscribe {
  padding-top: 50px;
  padding-bottom: 20px;
  background: #FAFAFA;
  position: relative;
}
.subscribe::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #252B42;
  width: 100%;
  height: 77px;
  z-index: 0;
}
.subscribe__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe__block2 {
  padding: 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #16697A;
  border-radius: 2px;
  margin-top: 70px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
.subscribe__title {
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
.subscribe__btn {
  background: #FFA62B;
  border: 1px solid #E6E6E6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0 5px 5px 0;
  height: 58px;
  width: 117px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  cursor: pointer;
}
.subscribe__form {
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}
.subscribe__input {
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  height: 58px;
  width: 450px;
  padding-left: 20px;
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
}
.subscribe__input::-webkit-input-placeholder {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}
.subscribe__input::-moz-placeholder {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}
.subscribe__input:-ms-input-placeholder {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}
.subscribe__input::-ms-input-placeholder {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}
.subscribe__input::placeholder {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}

.touch {
  padding: 80px 0 148px;
  background: #F3F3F3;
}
.touch__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  text-align: center;
}
.touch__subtitle {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 10px 0 110px;
}
.touch__card {
  padding: 50px 0;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.touch__card_big {
  padding: 80px 0;
  background: #252B42;
  color: white;
}
.touch__card-img {
  margin-bottom: 15px;
}
.touch__card-subtitle {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.touch__card-title {
  margin: 15px 0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.touch__card-btn {
  width: 160px;
  height: 44px;
  background-color: transparent;
  border: 1px solid #FFA62B;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #FFA62B;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.touch__card-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-style: italic;
}
.touch__card_big .touch__card-subtitle, .touch__card_big .touch__card-title {
  color: white;
}
.touch__card_big .touch__card-btn {
  color: white;
  border: 1px solid white;
}

.contact {
  padding: 40px 0;
}
.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__info-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 10px;
}
.contact__info-subtitle {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.contact__btn {
  width: 160px;
  height: 58px;
  background: #FFA62B;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact__btn:hover {
  background-color: #252B42;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-style: italic;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__menu {
  padding: 50px 0;
  background: #16697A;
}
.footer__card-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer__card-list {
  list-style-type: none;
}
.footer__card-item {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
.footer__card-item_last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__card-item_last a {
  color: white;
  text-decoration: none;
}
.footer__card-item:last-child {
  margin-bottom: 0;
}
.footer__navbar {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__navbar-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.footer__navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding: 0 30px;
  }

  .first-screen__card-title {
    white-space: normal;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 0 20px;
  }

  .first-screen {
    padding-top: 160px;
  }
  .first-screen__title {
    font-size: 48px;
    line-height: 50px;
  }
  .first-screen__card {
    padding: 30px 20px 30px 20px;
    height: 100%;
  }
  .first-screen__card-title {
    white-space: normal;
  }

  .choose {
    padding: 170px 0 50px;
    background: #FAFAFA;
  }

  .practice {
    padding: 80px 0 60px;
  }
  .practice__card-info {
    padding: 20px 0 10px 20px;
  }

  .service {
    padding: 60px 0;
  }
  .service__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service__video {
    width: 100%;
    height: 60vw;
  }
  .service__info {
    width: 100%;
  }
  .service__info-title {
    text-align: center;
  }
  .service__info-subtitle {
    text-align: center;
  }
  .service__info-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .subscribe__input {
    width: 260px;
  }

  .col-md-6 {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .burger {
    display: block;
    position: relative;
    z-index: 9;
  }

  .burger.open {
    position: fixed;
    z-index: 6;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
  }
  .burger.open::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: black;
    top: 20px;
    left: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: 3s;
    transition: 3s;
  }
  .burger.open::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: black;
    top: 20px;
    left: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 3s;
    transition: 3s;
  }

  .burger.open svg {
    display: none;
  }

  .burger.open svg path {
    fill: #fff;
  }

  .header__menu {
    display: none;
  }
  .header__menu_active {
    position: fixed;
    width: 50%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: skyblue;
    row-gap: 20px;
    top: 0;
    right: 0;
    z-index: 5;
  }

  .container {
    padding: 0 20px;
  }

  .first-screen {
    padding-top: 160px;
  }
  .first-screen__title {
    font-size: 48px;
    line-height: 50px;
  }
  .first-screen__card {
    padding: 30px 20px 30px 20px;
    height: 100%;
  }
  .first-screen__card-title {
    white-space: normal;
  }

  .choose {
    padding: 125px 0 50px;
  }

  .choose__row {
    margin: 0;
    row-gap: 35px;
  }

  .practice {
    padding: 80px 0 60px;
  }
  .practice__card-info {
    padding: 20px 0 10px 20px;
  }

  .service {
    padding: 60px 0;
  }
  .service__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service__video {
    width: 100%;
    height: 60vw;
  }
  .service__info {
    width: 100%;
  }
  .service__info-title {
    text-align: center;
  }
  .service__info-subtitle {
    text-align: center;
  }
  .service__info-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .subscribe__input {
    width: 260px;
  }

  .first-screen_p {
    margin-bottom: 30px;
  }

  .first-screen__title {
    text-align: center;
  }

  .first-screen__subtitle {
    text-align: center;
  }

  .first-screen__btns {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    margin-bottom: 40px;
    row-gap: 30px;
  }

  .first-screen__row {
    position: relative;
    top: 0;
  }

  .subscribe__block2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscribe__title {
    text-align: center;
    margin-bottom: 30px;
  }

  .subscribe__row {
    row-gap: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .subscribe__icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .touch__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 20px;
  }

  .footer__row {
    row-gap: 20px;
  }
}